# 📦 Node & package manager files
node_modules/
dist/
dist-ssr/
.vite/
.cache/
*.local

# 📑 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 🧠 Environment
.env
.env.*.local

# 🛠 IDEs & editors
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 🔧 System
Thumbs.db

# Local Netlify folder
.netlify
