:root {
  --clr-accent: #D72E20;

  --clr-primary-bg: #fafafa;
  --clr-primary-txt: #111111;
  --clr-secondary-bg: #111111;
  --clr-secondary-txt: #fafafa;

  --clr-white: #ffffff;

  --txt-font-display: Arial, Helvetica, sans-serif;
  --txt-font-txt: Arial, Helvetica, sans-serif;
  --txt-weight-display: 900;
  --txt-weight-txt: 400;

  --txt-size-h1: 8rem;
  --txt-size-h2: 2.5rem;
  --txt-size-p: 1rem
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

::selection {
  background-color: var(--clr-accent); /* Couleur de fond */
  color: var(--clr-primary-bg); /* Couleur du texte */
}

section {
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-accent);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

}

h1 {
  font-family: var(--txt-font-display);
  font-size: var(--txt-size-h1);
  font-weight: var(--txt-weight-display);
  color: var(--clr-secondary-txt);
}

h2 {
  font-family: var(--txt-font-display);
  font-size: var(--txt-size-h2);
  font-weight: var(--txt-weight-display);
  color: var(--clr-primary-txt);
}

p {
  font-family: var(--txt-font-txt);
  font-size: var(--txt-size-p);
  font-weight: var(--txt-weight-txt);
  color: var(--clr-primary-txt);
}

.wrapper {
  gap: .5rem;
}